html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.5;
    background: #111;
    color: white;
}

.tool {
    display: inline-block;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
