---
import LastFM from "./LastFM.astro";
import LatestPosts from "./LatestPosts.astro";
---

<div
  id="sidebar"
  class="bg-foreground-alt/5 md:bg-background mt-auto flex w-full flex-row gap-2 rounded-md p-2 text-start md:mt-0 md:block md:w-1/4 md:gap-0 md:rounded-none md:p-0 md:text-end mb-3 md:mb-0"
>
  <div class="mb-6 w-1/2 md:w-full">
    <h2 class="text-md font-bold">top tracks this week</h2>
    <div class="mb-3 flex justify-start text-xs md:justify-end">
      <h3>powered by&nbsp;</h3>
      <a
        href="https://www.last.fm/user/nikokomninos"
        target="_blank"
        class="animate-gradient font-semibold">lastfm</a
      >
    </div>
    <LastFM />
  </div>

  <div class="w-1/2 text-end md:w-full">
    <h2 class="text-md mb-7 font-semibold md:mb-2">latest posts</h2>
    <LatestPosts />
  </div>
</div>
