---
interface Props {
  href: string;
  uname: string;
  icon: (_props: Record<string, unknown>) => unknown;
  iconProps?: Record<string, unknown>;
}

const { href, uname, icon: Icon, iconProps } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="group border-foreground-alt/50 hover:text-foreground-alt relative flex h-fit w-fit items-center gap-1 rounded-lg border p-1 text-xs duration-75 ease-linear select-none hover:scale-102"
>
  <div
    class="text-foreground bg-background border-foreground/50 absolute top-6 left-1/2 hidden h-5 w-fit -translate-x-1/2 translate-y-1/2 rounded-sm border px-3 group-hover:block"
  >
    <div
      class="border-l-foreground/50 border-t-foreground/50 absolute -top-1 left-1/2 h-2 w-2 -translate-x-1/2 rotate-45 border-l border-t"
    >
    </div>

    <div
      class="border-b-background absolute -top-2 left-1/2 h-2 w-2 -translate-x-1/2 border-b"
    >
    </div>
    <p class="whitespace-nowrap">{uname}</p>
  </div>
  <Icon {...iconProps} />
  <slot />
</a>
