---
import Navbar from "../components/nav/Navbar.astro";
import Footer from "../components/home/Footer.astro";
import Sidebar from "../components/home/Sidebar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Niko Komninos</title>
    <meta property="og:title" content="Niko Komninos" />
    <meta property="og:image" content="https://nikokomninos.com/tool.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Niko Komninos" />
    <meta name="twitter:image" content="https://nikokomninos.com/tool.png" />
    <script is:inline>
      const savedTheme = localStorage.getItem('theme');
      const isDark = savedTheme === 'dark';
      if (isDark) {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class="px-5 md:px-0 mx-auto flex min-h-screen w-full md:w-3/4 lg:w-1/2 flex-col">
    <Navbar />
    <div class="bg-background flex flex-1 flex-col md:flex-row w-full gap-10">
      <div class="w-full md:w-3/4">
        <slot />
      </div>
      <Sidebar />
    </div>
    <Footer />
  </body>
</html>
