---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

const events = (await getCollection("events")).sort(
  (a, b) => a.data.startsAt.valueOf() - b.data.startsAt.valueOf(),
);

const getEventSlug = (id: string) => id.replace(/\.(md|mdx)$/, "");
---

<MainLayout hideNavbar={false}>
  <h1 class="mb-6 text-xl font-semibold">Events</h1>
  <div class="space-y-2">
    {
      events.map((event: CollectionEntry<"events">) => (
        <article>
          <a
            href={`/events/${getEventSlug(event.id)}`}
            class="hover:bg-foreground-alt/10 ease-linear duration-75 rounded-md block py-1"
          >
            <h2 class="text-sm font-semibold">{event.data.title}</h2>
            <div class="flex gap-1 items-center text-foreground/75 text-xs">
              <time>
                {event.data.startsAt.toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </time>
            </div>
          </a>
        </article>
      ))
    }
  </div>
</MainLayout>
